header {
  width: 100%;
  padding: 28px 8%;
  background-color: transparent;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  font-size: 24px;
  color: #FF6F61;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #003366;
  font-weight: 600;
  font-size: 18px;
}

.nav-item.active a{
  color: #001c38;
  border-bottom: 3px solid #FF6F61;
}

#mobile-btn {
  display: none;
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 1170px){
  #nav_list, #navbar .btn-default {
    display: none;
  }
  #mobile-btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile-menu.active {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }
  
}
  
